.header{
	margin: auto;
	display: flex;
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
}


.logo-container{
	justify-content: flex-start;
	display: flex;
	width: auto;
	padding: 5px 71% 5px 20px;
	border: 1px solid black;
}

.logo{
	display: flex;
	color: mediumaquamarine;
	align-items: center;
	padding: 5px;
}

nav li{
	list-style-type: none;
	display: inline-block;
	margin: 0 10px;
}

nav ul{
	margin: 0;
	padding: 0;
	position: absolute;
	right: 50px;
	top: 40px;
}

nav ul li a{
	text-decoration: underline;
	color: black;
}

nav ul li a:hover{
	color: blue;
}

.border{
	display: block;
	border-bottom: 1px solid black;
	position: relative;
	top: 10px;
}

.content-container{
	display: flex;
	justify-content: center;
	min-height: 2000px;
	position: relative;
	top: 10px;
}

.column{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	border: 1px solid black;
	border-top: 0;
	width: 1260px;
	height: 1532px;
	position: relative;
}


.large{
	width: 630px;
	border: 1px solid black;
	height: 1500px;
	position: relative;
	top: 30px;
}

.medium{
	position: relative;
	top: 30px;
	right: 15px;
	border: 1px solid black;
	width: 300px;
	height: 1500px;
}

.small{
	display: flex;
	flex-direction: column;
	position: relative;
	top: 30px;
	right: 30px;
	border: 1px solid black;
	width: 240px;
	height: 1500px;
}

.large-bottom{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid red;
	height: 700px
}

.large-bottom-first{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid green;
	width: 300px;
	height: 600px;
}

.large-bottom-second{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid skyblue;
	width: 300px;
	height: 600px;
}

.div-text-one{
	border: 1px solid black;
}

.div-text-two{
	border: 1px solid black;
	width: 300px;
	height: 200px;
}

.div-header-two{
	border: 1px solid black;
	border-top: 0;
	border-bottom: 0;
}

.div-text-three{
 	border: 1px solid black;
 	width: 300px;
 	height: 200px;
}

.div-header-four{

}

.div-text-four{
	border: 1px solid black;
}

.div-text-five{
	border: 1px solid black;
}

.div-img-five{
	background-size: cover;
	background-repeat: no-repeat;
}

.div-text-six{
	border: 1px solid black;
 	font-size: 16px;
  	font-weight: bold;
}

p{
	font-family: Georgia;
  	font-size: 17px;
  	color: black;
}

h1{
 	font-family: Georgia;
	font-weight: bold;
  	font-size: 30px;
  	color: white;
}

.div-header-one h1{
	font-family: Georgia;
  	font-weight: bold;
  	font-size: 40px;
  	color: white;
}

#nav-bites{
 	background-color: whitesmoke;
}

#nav-bites p{
	color: dimgray;
	font-size: 12px;
	position: relative;
	left: 6px;
	font-family: verdana;
}

.cat,
.ideas,
.youtube,
.online,
.illustration,
.materials{
	border-bottom: 1px solid black;
}

.div-text-six h2{
	font-weight: bold;
	font-size: 16px;
	font-family: georgia;
}

.footer{
	background-color: mediumaquamarine;
}